body {
    font-family: "Segoe UI", sans-serif;
    line-height: 1.6;
    background-image: url('images/750-1232688904xyfk.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

div {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}

.title {
    color: #fff;
    text-align: center;
}

.title h1 {
    font-size: 5rem;
    letter-spacing: 20px;
}

h2 {
    font-size: 3rem;
    color: #fbe8f3;
    text-align: center;
}

h3 {
    border-bottom: 2px solid #ccc;
    font-size: 1.7rem;
    color: #745c6a;
    margin-top: 0.5rem;
}

.paragraph-1,
.paragraph-2,
.paragraph-3,
.paragraph-4,
.paragraph-5,
.paragraph-6,
.paragraph-7,
.paragraph-8 {
    background-color: rgba(250, 250, 250, 0.6);
    border-left: 3px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    backdrop-filter: blur(4px);
    width: 80%;
}

.paragraph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

p {
    padding: 0.5rem 0;
    color: #444;
    font-size: 1.3rem;
    text-align: justify;
}

.unordered-list ul {
    list-style: disc inside;
    padding-left: 10rem;
    margin: 0.5rem 0;
}

.unordered-list li {
    padding: 0.25rem 0;
    font-size: 2rem;
    color: rgba(250, 250, 250, 0.6);
}

.unordered-list li:hover {
    color: #c794af;
    cursor: default;
    transition: color 0.2s ease-in-out;
}

footer {
    background-color: #ffffff;
    color: #c794af;
    text-align: center;
    padding: 15px 0;
    font-size: 1.3rem;
}
